projects/lead-gen-system/workflows/01-lead-import.json
{
  "name": "01 — Lead Import (Google Sheets → Notion CRM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Run Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "options": {
          "firstRowIsHeader": true
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Get All Rows from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [480, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-not-imported",
              "leftValue": "={{ $json['Imported'] }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "filter-has-email",
              "leftValue": "={{ $json['Email'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Filter — Not Yet Imported",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Email|email",
              "condition": "equals",
              "emailValue": "={{ $json['Email'] }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Check Duplicate in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [960, 300],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-no-results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Is New Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "id"
        },
        "title": "={{ $('Filter — Not Yet Imported').item.json['First Name'] + ' ' + $('Filter — Not Yet Imported').item.json['Last Name'] }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Company|rich_text",
              "textContent": "={{ $('Filter — Not Yet Imported').item.json['Company'] }}"
            },
            {
              "key": "Job Title|rich_text",
              "textContent": "={{ $('Filter — Not Yet Imported').item.json['Job Title'] }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $('Filter — Not Yet Imported').item.json['Email'] }}"
            },
            {
              "key": "LinkedIn URL|url",
              "urlValue": "={{ $('Filter — Not Yet Imported').item.json['LinkedIn URL'] }}"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "={{ $('Filter — Not Yet Imported').item.json['Notes'] }}"
            },
            {
              "key": "Status|select",
              "selectValue": "New"
            },
            {
              "key": "Source|select",
              "selectValue": "Cold List"
            },
            {
              "key": "Follow-up Count|number",
              "numberValue": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Create Lead in Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1440, 200],
      "credentials": {
        "notionApi": {
          "id": "NOTION_CREDENTIAL_ID",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Imported": "YES"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Imported",
              "displayName": "Imported"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Mark Row as Imported",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1680, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Run Every Hour": {
      "main": [
        [
          {
            "node": "Get All Rows from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Rows from Sheet": {
      "main": [
        [
          {
            "node": "Filter — Not Yet Imported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter — Not Yet Imported": {
      "main": [
        [
          {
            "node": "Check Duplicate in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate in Notion": {
      "main": [
        [
          {
            "node": "Is New Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Lead?": {
      "main": [
        [
          {
            "node": "Create Lead in Notion",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create Lead in Notion": {
      "main": [
        [
          {
            "node": "Mark Row as Imported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    {
      "name": "lead-gen",
      "createdAt": "2026-05-20T00:00:00.000Z",
      "updatedAt": "2026-05-20T00:00:00.000Z"
    }
  ]
}
